<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/google.css" />
    
    <title>Geolocation</title>
    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    
    
    <style type="text/css">
      
      h3{
      color:white;
    }
    h1{
       text-align:center;
    }
    
          .col-centered{
    float: none;
    margin: 0 auto;
    text-align:left;
    }
    </style>
    
    
    
  </head>
  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=155556774953468";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
      <div id = "splash">
      <div id = row>
        <h1>Welcome to TITLE_OF_GAME</h1>
        <div class="col-md-2 col-centered text-center">
      
      <strong>OBJECTIVE:</strong><p>Find all 5 chests to unlock the door.</p> 
      <strong>DIRECTIONS:</strong><p>Login with Facebook and relocate to the stated park.</p> 
      
      <button id="accept" type="button" class="btn btn-success">Understood!</button>
       </div>
      </div>
    </div>
    
    
    
    <div id = "playArea" style = "display: none">
    
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    
    <div class= "row">
      
       <div class="col-xs-6 col-md-4">
         
         <img src="../static/chests/missingChest.png" id = "chest1" height="42" width="42">
         <img src="../static/chests/foundChest.png" id = "chest11" height="42" width="42" style="display: none">
         
         <img src="../static/chests/missingChest.png" id = "chest2" height="42" width="42">
         <img src="../static/chests/foundChest.png" id = "chest21" height="42" width="42" style="display: none">
         
         <img src="../static/chests/missingChest.png" id = "chest3" height="42" width="42">
         <img src="../static/chests/foundChest.png" id = "chest31" height="42" width="42" style="display: none">
         
         <img src="../static/chests/missingChest.png" id = "chest4" height="42" width="42" >
         <img src="../static/chests/foundChest.png" id = "chest41" height="42" width="42" style="display: none">
         
         <img src="../static/chests/missingChest.png" id = "chest5" height="42" width="42">
         <img src="../static/chests/foundChest.png" id = "chest51" height="42" width="42" style="display: none">
         
         <!---PLACE HOLDER UNTIL I FIGURE OUT HOW TO MAKE THiS CHANGE -->
         
       </div>
        <div class="col-xs-6 col-md-4">
          <h3>GAME TITLE</h3>
        </div>
         <div class="col-xs-6 col-md-4">

           <!--<div id="facebook"></div>-->
           <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>


           <button id="rules" type="button" class="btn btn-info" >Directions</button>\
         </div>
      
      
    </div>
    
    
    
  </div>
  
  
  </nav>
    
    
    
    
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
      
      
   
      
      
          <div class="row">
      <div class="col-xs-3 col-md-4">
        
        <div class="btn-group">
      <button id="up" type="button" class="btn btn-primary" style="display: none">Up</button>
      <button id="left" type="button" class="btn btn-primary" style="display: none">Left</button>
      <button id="right" type="button" class="btn btn-primary" style="display: none">Right</button>
      <button id="down" type="button" class="btn btn-primary" style="display: none">Down</button>
    </div>
        
      </div>
         <div class="col-xs-3 col-md-4">
            
           <p class="text-center">
            
             
              <button id="start" type="button" class="btn btn-success">Start!</button>
              <button id="update" type="button" class="btn btn-info" style="display: none">Update</button>
              <button id="key" type="button" class="btn btn-info" style="display: none">Use Key</button>
             </p>
         </div>
        
       <div class="col-xs-3 col-md-4">
          <div id="content"></div>
       </div>
      
   </div> 
      
      
      
    </nav>
    
    </div>  
    
    
    
<div id="map"></div>

    
    

    
    
    

    <script type="text/javascript" src="/static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
   
    <script type="text/javascript" charset="utf-8">
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
     
      socket.emit('my event', {
        'test': 'I\'m connected!',
      });
    </script>
    
    <script>
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
          
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        var markers = [];
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 36.6258038, lng: -121.8600351},
          zoom: 13,
          mapTypeId: 'satellite',
        });
        

        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            
            socket.emit('geolocation', {
              'coords': pos,
            });
            

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
            $('#update').click(function(){
              socket.emit('updateDemoLocation', {
                
                
              });
              
              
            });
            $('#key').click(function(){
              socket.emit('updateDemoLocation', {
                
              });
            });
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
        
        socket.on('parkLoc', (data) => {
          // console.log("testing");
            var marker = new google.maps.Marker({
              position: {lat: data['parkCoordsLat'], lng: data['parkCoordsLng']},
              map: map,
              title: 'Walk here!'
            });
            // document.getElementById('start').style.visibility = 'hidden';
            var circle = new google.maps.Circle({
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.35,
              map: map,
              center: {lat: data['parkCoordsLat'], lng: data['parkCoordsLng']},
              radius: 140
            });
          
        })
        
        socket.on('door', (data) => {
          // console.log("testing");
            var marker = new google.maps.Marker({
              position: {lat: data['doorLat'], lng: data['doorLng']},
              map: map,
              title: 'Door'
            });
            // document.getElementById('start').style.visibility = 'hidden';
        })
        
        socket.on('playerLoc', (data) => {
            
            for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(null);
            }
            markers = [];
          // console.log("testing");
            var marker = new google.maps.Marker({
              position: {lat: data['demoLat'], lng: data['demoLng']},
              map: map,
              title: 'Player'
            });
            markers.push(marker);
            // document.getElementById('start').style.visibility = 'hidden';
        })
        
        
        socket.on('chests', (data) => {
          // console.log("testing");
            var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
            var marker = new google.maps.Marker({
              position: {lat: data['chestLat'], lng: data['chestLng']},
              map: map,
              title: 'Chest',
              icon: image
            });
            // document.getElementById('start').style.visibility = 'hidden';
            var circle = new google.maps.Circle({
              strokeColor: '#0029ff',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#0029ff',
              fillOpacity: 0.35,
              map: map,
              center: {lat: data['chestLat'], lng: data['chestLng']},
              radius: 5,
            });
            
        })
        
      }
      
      


      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
    </script>
    
    <script>
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
      $(document).ready(function(){
        $("#start").click(function(){
              // alert("The start button was clicked.");
              FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                  // the user is logged in and has authenticated your
                  // app, and response.authResponse supplies
                  // the user's ID, a valid access token, a signed
                  // request, and the time the access token 
                  // and signed request each expire
                  // var uid = response.authResponse.userID;
                  var accessToken = response.authResponse.accessToken;
                  socket.emit('startDemo', {
                    'facebook_user_token': accessToken,
                  });
                } else if (response.status === 'not_authorized') {
                  // the user is logged in to Facebook, 
                  // but has not authenticated your app
                } else {
                  // the user isn't logged in to Facebook.
                }
             });
                
              });
              
        $("#accept").click(function(){
          $('#splash').hide();
            $('#playArea').show();
            
          
        });      
        
         $("#rules").click(function(){
          $('#playArea').hide();
            $('#splash').show();
            
          
        }); 
        
          $("#up").click(function(){
              // alert("The start button was clicked.");
            socket.emit('up', {
              
            });
            
             socket.emit('updateDemoLocation', {
                
                
              });
          });
          $("#down").click(function(){
              // alert("The start button was clicked.");
            socket.emit('down', {
              
            });
            
             socket.emit('updateDemoLocation', {
                
                
              });
          });
          $("#right").click(function(){
              // alert("The start button was clicked.");
            socket.emit('right', {
              
              
            });
            
             socket.emit('updateDemoLocation', {
                
                
              });
            
            
          });
          $("#left").click(function(){
              // alert("The start button was clicked.");
            socket.emit('left', {
              
            });
            
             socket.emit('updateDemoLocation', {
                
                
              });
          });
          socket.on('hideStartButton', (data) => {
            $('#start').hide();
            $('#update').show();
            $('#up').show();
            $('#left').show();
            $('#right').show();
            $('#down').show();
          })
          socket.on('showKeyButton', (data) => {
            $('#update').hide();
            $('#key').show();
          })
          
          
          
          
          socket.on('changeIcon1', (data) => {
          
          $('#chest1').hide();
            $('#chest11').show();
            alert("YOU FOUND A CHEST 4 MORE TO GO!");
            
        })
        socket.on('changeIcon2', (data) => {
          
          $('#chest2').hide();
            $('#chest21').show();
             alert("YOU FOUND A CHEST 3 MORE TO GO!");
        })
        socket.on('changeIcon3', (data) => {
          
          $('#chest3').hide();
            $('#chest31').show();
             alert("YOU FOUND A CHEST 2 MORE TO GO!");
        })
        socket.on('changeIcon4', (data) => {
          
          $('#chest4').hide();
            $('#chest41').show();
             alert("YOU FOUND A CHEST 1 MORE TO GO!");
        })
        socket.on('changeIcon5', (data) => {
          
          $('#chest5').hide();
            $('#chest51').show();
             alert("YOU FOUND A CHEST & INSIDE IS A KEY GO TO THE DOOR!");
        })
        
        socket.on('youwin', (data) => {
          alert(" DOOR'S UNLOCKED YOU WON! ");
        })
        
        socket.on('notyet',(data)=> {
          alert("NOT THE DOOR, GO TO THE DOOR ICON!")
        })
          
          
          
          
          
          
          
          
          
          
          
          
      });
      
      $(document).keydown(function(e) {
          console.log(e.keyCode);
          if (e.keyCode == 87) {
            // w
            socket.emit('up', {
              
            });
          } else if (e.keyCode == 65) {
            // a
            socket.emit('left', {
              
            });
          } else if (e.keyCode == 68) {
            // d
            socket.emit('right', {
              
            });
          } else if (e.keyCode == 83)
          // s
          socket.emit('down', {
              
            });
      });
      
      
    </script>

    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgn3pRUB6WyzLsCARbu8ePVBSU-xfWQb0&callback=initMap"></script>
    
  </body>
</html>