<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/google.css" />
    
    <title>Geolocation</title>
    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">this is for mobile-->
    
    <style type="text/css">
      
    </style>
    
    
  </head>
  
  
  
  <body>
    
    
    
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    ...
  </div>
  
  
  </nav>
      
    <div id="map"></div>
    
    
 <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
      
      
   
      
      
          <div class="row">
      <div class="col-xs-3 col-md-4"></div>
         <div class="col-xs-3 col-md-4">
            
           <p class="text-center">
            
             
              <button id="start" type="button" class="btn btn-success">Start!</button>
              <button id="update" type="button" class="btn btn-info" style="display: none">Update</button>
              <button id="key" type="button" class="btn btn-info" style="display: none">Use Key</button>
             </p>
         </div>
        
       <div class="col-xs-3 col-md-4">
          <div id="content"></div>
       </div>
      
   </div> 
      
      
      
    </nav>
   
    
    
    <script type="text/javascript" src="/static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
   
    <script type="text/javascript" charset="utf-8">
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
     
      socket.emit('my event', {
        'test': 'I\'m connected!',
      });
    </script>
    
    <script>
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
          
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        var markers = [];
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 36.6258038, lng: -121.8600351},
          zoom: 15,
          mapTypeId: 'satellite',
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            
            socket.emit('geolocation', {
              'coords': pos,
            });

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
            $('#update').click(function(){
              socket.emit('updateLocation', {
                'coords': pos,
              });
            });
            $('#key').click(function(){
              socket.emit('updateLocation', {
                'coords': pos,
              });
            });
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
        
        socket.on('parkLoc', (data) => {
          // console.log("testing");
            var marker = new google.maps.Marker({
              position: {lat: data['parkCoordsLat'], lng: data['parkCoordsLng']},
              map: map,
              title: 'Walk here!'
            });
            // document.getElementById('start').style.visibility = 'hidden';
            var circle = new google.maps.Circle({
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.35,
              map: map,
              center: {lat: data['parkCoordsLat'], lng: data['parkCoordsLng']},
              radius: 120
            });
        })
        
        socket.on('door', (data) => {
          // console.log("testing");
            var marker = new google.maps.Marker({
              position: {lat: data['doorLat'], lng: data['doorLng']},
              map: map,
              title: 'Door'
            });
            // document.getElementById('start').style.visibility = 'hidden';
        })
        
        socket.on('playerLoc', (data) => {
            
            for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(null);
            }
            markers = [];
          // console.log("testing");
            var marker = new google.maps.Marker({
              position: {lat: data['lat'], lng: data['lng']},
              map: map,
              title: 'Player'
            });
            markers.push(marker);
            // document.getElementById('start').style.visibility = 'hidden';
        })
        
        socket.on('chests', (data) => {
          // console.log("testing");
            var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
            var marker = new google.maps.Marker({
              position: {lat: data['chestLat'], lng: data['chestLng']},
              map: map,
              title: 'Chest',
              icon: image
            });
            // document.getElementById('start').style.visibility = 'hidden';
            var circle = new google.maps.Circle({
              strokeColor: '#0029ff',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#0029ff',
              fillOpacity: 0.35,
              map: map,
              center: {lat: data['chestLat'], lng: data['chestLng']},
              radius: 5,
            });
            
        })
      }
      
      


      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
    </script>
    
    <script>
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
      $(document).ready(function(){
          $("#start").click(function(){
              // alert("The start button was clicked.");
            socket.emit('start', {
              
            });
          });
          socket.on('hideStartButton', (data) => {
            $('#start').hide();
            $('#update').show();
          })
          socket.on('showKeyButton', (data) => {
            $('#update').hide();
            $('#key').show();
          })
          
      });
    </script>

    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgn3pRUB6WyzLsCARbu8ePVBSU-xfWQb0&callback=initMap"></script>
    
    
    
   
    
    
    
    
  </body>
</html>