<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <meta name="google-signin-scope" content="profile email" />        
        <meta name="google-signin-client_id" content="477128408794-97unbroun6e81j3sp3d865v5e2ck2pav.apps.googleusercontent.com" />        
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <title>Project 2</title>
    </head>
    <body>
    <script>          
       window.fbAsyncInit = function() {            
       FB.init({              
         appId      : '215428635590255',              
         cookie     : true,              
         xfbml      : true,              
         version    : 'v2.8'            
         });           
        FB.AppEvents.logPageView();          
      };          
      (function(d, s, id){             
        var js, fjs = d.getElementsByTagName(s)[0];             
        if (d.getElementById(id)) {return;}             
        js = d.createElement(s); js.id = id;             
        js.src = "//connect.facebook.net/en_US/sdk.js";             
        fjs.parentNode.insertBefore(js, fjs);           
        }(document, 'script', 'facebook-jssdk'));        
    </script> 
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>