<!DOCTYPE html>
<html>

<head>
    <title>Key Quest</title>

    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" />

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style type="text/css">

    </style>
</head>

<body>

    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>









    <script type="text/javascript" src="/static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="">
    
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
        
    </script>
</body>

</html>
